<div class="container_omega">
  <p>
    <%= image_tag "staff/annette_mccracken.jpg", :class => "alignleft" %>
    <strong>Annette McCracken</strong> is the legal assistant at Adrian &amp; Vondy. She earned a Bachelor of Business Administration degree from Saint Mary’s College in Notre Dame, Indiana, in 1988, specializing in International Business and Finance, with minors in Spanish, Math and Economics. In 1991, she received a Master of International Business Studies degree from the University of South Carolina in Columbia, South Carolina.<br>
    <br>
    She has previously worked in the banking industry, primarily facilitating import-export payments.
  </p>
</div>