<div class="container_omega">
  <h2 class="widgettitle">Bankruptcy</h2>
  <p>Adrian & Vondy, P.L.C., has represented hundreds of debtors in Chapter 7 bankruptcy proceedings in Virginia and West Virginia.</p>

  <p>Bankruptcy proceedings can offer an efficient way to resolve debt problems, outstanding judgments, wage garnishments and lawsuits.</p>

  <p>There is no charge for your initial consultation, where you will learn about the different kinds of bankruptcy and determine whether this is an appropriate course of action for you.</p>

  <p>Our paralegal, Tiffany Merkel, will work with you in preparing your bankruptcy petition.</p>

  <p>Our fees are competitive and you will receive the personal attention that you deserve.</p>

  <p>Federal law requires that we advise you that we are a debt relief agency and assist people in seeking relief under the bankruptcy code.</p>
</div>