<div class="container_omega">
  <h2 class="widgettitle">Bankruptcy</h2>
  <h4>Frequently Asked Questions</h4>

  <ol>
    <li>
    <h3>What do you charge for an individual/couple filing for bankruptcy?</h3>
    <p><strong>Initial Consultation is Free.</strong></p>
    Our fee: For straightforward cases,<br>
    <pre>my fee is usually                                                    $850.00.

    There may be an additional charge depending on such things as:  whether you have filed bankruptcy before; whether you own a home that you are keeping; whether you have a garnishment against you;  whether there are judgment liens that need to be voided; whether you will need a reaffirmation agreement; whether you are above the means test.  These are items that will add some cost to the bankruptcy fee generally in increments of $50 to $100.

    Costs: Bankruptcy Court Filing Fee:      $306.00
    In Virginia, a filing fee 
    for your exemption list 
    (called a Homestead Deed)         $ 21.00 (individual)
    42.00 (couple)

    TOTAL STARTING FEE :  $ 1,177.00 (individual)
    $1,198 00 (couple)

    Not charged by my office but required by the bankruptcy court, a debtor is required to consult with a consumer credit counseling agency and obtain a pre-bankruptcy certificate stating that you have undergone consumer credit counseling and a post-bankruptcy certificate stating that you have taken a financial management coarse. These classes are usually done on-line and cost between $15.00 and $50.00) 
    </pre>
    </li>
    <li>
    <h3>Should I file for bankruptcy?</h3> Many people question whether they should file for bankruptcy. By the time most people are thinking about filing for bankruptcy, their finances are out of control and they have little financial choice but to file and obtain a financial "Fresh Start.” 
    <pre>
    What drives people into bankruptcy? Some of the things that 
cause people to file for bankruptcy are:
    
    1) A creditor garnishing your wages or bank account.
    2) Accident or illness 
    3) No or inadequate health insurance 
    4) Loss of work
    5) A reduction in wages
    6) Low wages 
    7) A divorce
    8) A repossessed car
    9) A foreclosed home
   10) Credit card debt that got out of control
   11) Pay day loans 
    </pre>
    There are numerous reasons why people file for bankruptcy but usually the reason does not matter to the bankruptcy court unless the court finds that you have committed fraud, gambled excessively, or have had a concerted plan to take advantage of the relief provided by bankruptcy. 
    </li>
    <li>
    <h3>What is bankruptcy and what can it do for me ?</h3>
    Bankruptcy is a proceeding under federal law that gives individuals/couples, business, associations, and other entities a chance to get rid of some or most debts OR adjust their debt load. 
    <pre>
    a. Filing bankruptcy will stop:
        1) Phone calls &amp; collection letters from creditors
        2) Most civil proceedings (pending court hearings for warrants in debt, judgments)
        3) Garnishments
        4) Setoffs from your bank accounts
        5) Attempts by creditors to repossess or foreclose on property

    b. What are the types of bankruptcy ?
        There are several types of bankruptcies. For individuals/couples the two most frequently used bankruptcy chapters are 
        1) Chapter 7 – Liquidation 
        2). Chapter 13 – Wage Earners Plan
    </pre>
    </li>
    <li>
    <h3>What is the difference between a Chapter 7 and Chapter 13 bankruptcy?</h3>
    <pre>
     a. What is a Chapter 7
      Most individuals/couples file under Chapter 7. In this type of bankruptcy, a debtor can discharge (get rid of) most of their debts.  (Examples:  most credit card debt, medical bills, deficiencies on repossessed vehicles; deficiencies from foreclosed homes; etc.) 

      With respect to secured debts (cars, houses), the debtor has a choice and can either reaffirm the debt and keep the house or car OR the debtor can give back the car or house and discharge the debt in bankruptcy. Most Chapter 7 cases are completed in the court system in 90 to 120 days. 

     b. What is a Chapter 13?
      A Chapter 13 is useful for individuals who want to keep their house but are in arrears; who because of excess income, can not file a Chapter 7 case; or who have certain types of debts that get preferable treatment in a Chapter 13. In a Chapter 13 case, the debtor proposes a financial plan to the Court concerning how the debtor will restructure his debt and how the debtor will repay some or all of the debt. At a minimum, the debtor must have sufficient income to pay money to a trustee who will then distribute the money to certain claims. Be prepared to live with the Bankruptcy Court for five (5) years if you file a Chapter 13. 
    </pre>
    To determine what is best for you , talk to your bankruptcy lawyer.

    THE FOLLOWING INFORMATION APPLIES TO CHAPTER 7 BANKRUPTCY PROCEEDINGS.
    </li>
    <li>
    <h3>Am I eligible to file for Chapter 7 bankruptcy?</h3>
   Individuals and married couples are eligible to file a Chapter 7 bankruptcy but need to pass the following two tests.

    <pre>
    1) Have you filed for bankruptcy before? You are not eligible to file a bankruptcy case if you filed for bankruptcy and received a discharge within the 8 years immediately preceding your current filing. There must be 8 years between the filing of the bankruptcy petitions.

     2) What is your income?. Most low and moderate income individuals/ couples, pass the income test (In Virginia, beginning November 1, 2012, a family of 4 could have a gross yearly income of  $89,803. In West Virginia, beginning November 1, 2012, a family of 4 could have a gross yearly income of $65,403.)   Upper income individuals and couples may still qualify for a Chapter 7 bankruptcy; however, it is necessary to complete a detailed test that takes into consideration numerous factors, including house payments, car payments, payment of alimony, child care expenses, etc. Expect your bankruptcy lawyer to spend some time and effort to make sure that you qualify. Most bankruptcy lawyers charge a small fee for this service. </pre>
     </li>
     <li>
     <h3>What can I keep in bankruptcy?</h3> 
     What you are able to keep depends on the state you live in? But almost everyone can keep:
     <pre>
     1) Clothes
     2) Furniture
     3) Wedding and engagement rings
     4) A retirement/pension plan and sometimes more than one
     5) Social Security benefits; Unemployment benefits; Worker’s
        Compensation
     6) Usually a car/vehicle (see further information below).
     7. Burial plots 
     8) Health aids
     9) Usually a gun in Virginia
    10) Pets
    11) And certain amount of any other property of the debtor's own choice (up to $5000 per person in the State of Virginia and up to $25,000 per person in the state of West Virginia) 
    12) In Virginia, additional exemptions are available if you are a disabled veteran (add an additional $10,000.00) or a senior citizen (add an additional $5,000.00)

     Can I keep my car or truck?
     Most people can keep a car because either
     1) The debtor is still making payments on the car, OR
     2) The car is of a moderate value.
     In either case, the debtor can usually keep the car. NOTE: If you owe money on the car, you must keep your payments current and you may be required to sign a reaffirmation agreement. 

     Can I keep my house?
     It depends.
     What is your house worth?
     What do you owe? 
     Are you able to afford the monthly mortgage payment?

     These are all questions that must be asked and discussed with your 
     bankruptcy lawyer. This is an important decision! 
     </pre>
     </li>
     <li>
     <h3>Are there debts that I can not discharge in bankruptcy?</h3>

     YES, here are some of the debts you can not discharge
     <pre>
     1.	Child support
     2.	Alimony 
     3.	Debts under a separation agreement 
     4.	Student Loans
     5.	Criminal Fines and Civil Penalties
     6.	Restitution
     7.	Certain income taxes 
     8.	Most Trust fund taxes
     9.	Certain Sales Taxes
     </pre>
     </li>
     <li>
     <h3>Will I be able to get credit after I file for bankruptcy?</h3>
     <p>Oh yes! Sometimes a debtor receives credit card solicitations before he or she is out of bankruptcy. BEWARE. This is not usually the type of credit you want and, remember, it may have been credit cards that got you into bankruptcy in the first place. </p>

     <p>Most mortgage companies and banks are willing to consider you for a mortgage loan after four years.</p>

     <p>Likewise, if you keep a car during your bankruptcy and faithfully make your payments, you will most likely be able to get a car loan.</p>

     <p>Whether you get credit depends a lot on what you do after the bankruptcy filing, the job you have and whether you have been diligent in paying your creditors on time.</p>
     </li>
     <li>
     <h3>Can I pick and choose which creditors I list in bankruptcy?</h3>
     No! Bankruptcy is a law of full disclosure and you MUST list every person, business or entity to whom you owe money. After the bankruptcy is over and you receive a discharge, you are free to pay any creditor you want.
     </li>
     <li>
     <h3>Should I pay off debts to friends and relatives before I see the lawyer about bankruptcy?</h3>
     No! Choosing to pay off one creditor over the other – particularly if it is a friend or relative – can cause problems in your bankruptcy, and often the bankruptcy court can get the money back from your friend or relative. Do not pay off any debt without first talking to your bankruptcy lawyer.
     </li>
     <li>
     <h3>What is the process?</h3>
     <pre>
     1) Your first consultation with the bankruptcy attorney is free. The attorney will go over how bankruptcy works and review your specific situation to see if a Chapter 7 case would be an option for you. The attorney will also give you an estimate on how much your bankruptcy filing would cost.

     2) If you have decided that a Chapter 7 bankruptcy is right for you, you retain us by delivering payment and the necessary documents to get started. You will not need an appointment for this.

     3) Our paralegal will begin work on the documents you have dropped off. She will let you know if any further documents are needed and will call you to schedule a time to review the information on your bankruptcy petition.

     4) When everything you have dropped off has been entered and reviewed for accuracy, the attorney will schedule an appointment for a final review and signing of the bankruptcy petition. After you and the attorney have signed the petition, we will file it electronically with the court.

     5) On the date you file your bankruptcy case with the Court, the Court issues an order to all your  creditors requiring them to stop trying to collect the debts. The phone calls, court cases and garnishments MUST stop. A court date is scheduled usually within thirty (30) days of filing your case. You are required to go to Court on the scheduled date. You will appear before a "Trustee" in bankruptcy who will review your bankruptcy petition to make sure you accurately reported all the information. If your case is a "no asset" (Most cases are no asset cases.), you will receive your discharge order about sixty (60) days after your court date and the case will be closed, giving you the permanent relief from debt that you have requested. 
     </pre>
     </li>
     <li>
     <h3>How do I get started?</h3>
     Call us at (540) 667-8735 to schedule your free bankruptcy consultation. We will guide you through the process.
   </li>
 </ol>
</div>
