<div class="container_omega">
  <h2 class="widgettitle">Social Disability</h2>

  <p>Our Office may be able to assist you in obtaining Social Security Disability benefits. There is no consultation fee for an initial appointment and there is no attorney’s fee unless we are successful.</p>

  <p>To be successful in obtaining Social Security benefits it is often necessary to obtain additional medical and vocational information and evidence, and to obtain statements and
  opinions from your doctors, nurse practitioners and other medical providers.  Kay Adrian will work to obtain the information and evidence needed to prove your claim to the Social Security Administration.</p>

  <p>Kay Adrian is an active member of the National Organization of Social Security Claimants Representatives.  She has assisted many claimants who live in the City of Winchester and the surrounding counties of Virginia and West Virginia in obtaining Social Security Disability benefits and Supplemental Social
  Security Income benefits.  She is happy to talk to you initially over the phone concerning your case.</p>
</div>