<div class="container_omega">
  <p>
    Frederick S. Vondy earned his undergraduate degree in Greek and Latin from Columbia University in New York, and was awarded a Juris Doctor (with honors) by the University of Maryland.<br>
    <br>
    His primary areas of practice involve estate planning and probate administration, real estate settlements, and representing both creditors and debtors in bankruptcy proceedings.<br>
    <br>
    He is licensed to practice law in Virginia, Maryland and West Virginia.<br>
    <br>
    He represents Frederick County and is the finance chairman on the Northwestern Community Services Board, the regional agency providing mental health and substance abuse services.<br>
    <br>
    He previously worked as an editor at the Rocky Mountain News in Denver, the Chicago Sun-Times and the Baltimore Sun.
  </p>
</div>