<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="/css/main.css" rel="stylesheet">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>
  <body>
    <div id="container">
      {% block header %}
      <div>
        <div id="header">
          <div id="logo"><a href="/"><img src="/images/logo.png" alt="Adrian Vondy" /></a></div>
          <div id="personal_data">
            <p>Phone <span>(540) 667-8735</span></p>
            <p>Facsimile <span>(540) 667-8128</span></p>
          </div>
        </div>
        <div id="menu" class="png_bg">
          <ul>
            <li class="selected"><a href="/">Home</a></li>
            <li><a href="/directions/">Directions</a></li>
          </ul>
        </div>
      </div>
      {% endblock header %}

      <div class="main png_bg">
        <div class="inner_main">
            {% block content %}
                {{ page.content | safe }}
            {% endblock content %}
        </div>
      </div>
      <div class="endmain png_bg"></div>

      <div>
        <div class="stripe png_bg"></div>

        <div id="footer_top" class="png_bg"></div>
        <div id="footer" class="png_bg">
          <div class="gs_2 widget">
            <h4 class="widgettitle">Pages</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/directions/">Directions</a></li>
            </ul>
          </div>
          <div class="gs_4 widget">
            <h4 class="widgettitle">Attorneys At Law</h4>

            <ul>
              <li><a href="/adrian/">P. Kay Adrian</a></li>
              <li><a href="/frederick/">Frederick S. Vondy</a>
                (also licensed in West Virginia and Maryland)
              </li>
            </ul>
          </div>
          <div class="gs_4 omega widget">
            <h4 class="widgettitle">Office Staff</h4>

            <ul>
              <li><a href="/catherine/">Catherine Marsten</a> General office support</li>
            </ul>
          </div>
        </div>
        <div id="footer_bottom" class="png_bg">
          <p>Copyrights &copy; <a href="/">Adrian & Vondy, P.L.C.</a> {today.getFullYear()}. All rights
            reserved.</p></div>
      </div>
    </div>
  </body>
</html>
