{% extends "base.html" %}

{% block content %}
<div class="container_alpha slider">
  <div>
    <img src="/images/slides/slide1.jpg" alt="125 W. Boscawen Street, Winchester, VA 22601" />
  </div>
</div>

<div class="container_omega">
  <div class="gs_3">
    <h3 class="widgettitle">Communities That We Serve</h3>
    <p>
      City of Winchester<br />
      Frederick County, Virginia <span class="alignright">Stephens City, Middletown</span><br />
      Clarke County, Virginia <span class="alignright">Berryville</span><br />
      Shenandoah County, Virginia <span class="alignright">Woodstock, Strasburg</span><br />
      Warren County, Virginia <span class="alignright">Front Royal</span><br />
      Page County, Virginia <span class="alignright">Luray</span><br />
      Rappahannock County, Virginia<br />
    </p>
    <p>
      Jefferson County, West Virginia <span class="alignright">Charles Town</span><br />
      Berkeley County, West Virginia <span class="alignright">Martinsburg</span><br />
      Morgan County, West Virginia <span class="alignright">Berkeley Springs</span><br />
      Hampshire County, West Virginia <span class="alignright">Romney, Augusta</span><br />
      Hardy County, West Virginia <span class="alignright">Moorefield</span><br />
    </p>
  </div>
  <div class="gs_3 omega">
    <h3 class="widgettitle">Our Primary Areas of Practice</h3>
    <p class="areas_of_practice">
      <a href="/frederick/">Commissioner of Accounts<br />Frederick County, Virginia</a>
    </p>
    <p class="areas_of_practice">
      <a href="/estate-planning/">Estate Planning, Wills and Trusts</a>
    </p>
  </div>
</div>
{% endblock content %}
